@font-face {
    font-family: 'DomaineDisplayTestBold';
    src: url('../fonts/DomaineDisplayTestBold.woff2') format('woff2');
}
@font-face {
    font-family: 'DomaineDisplayTestMedium';
    src: url('../fonts/DomaineDisplayTestMedium.woff2') format('woff2');
}
@font-face {
    font-family: 'DomaineDisplayTestRegular';
    src: url('../fonts/DomaineDisplayTestRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf') format('truetype');
}
body {
    font-family: 'FuturaPT-Medium';
    min-height: 3000px;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mySlides {
  display:none;
}

.search-icon-svg{
    position: relative;
    top: -17px;
    right: 20px;
    cursor: pointer;
}
  
  nav {
    background: transparent;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s;
    line-height: 1.5;
    height: auto;
  }
  nav.scrollUp {
    transform: translateY(-80px);
  }
  
  #header{
    margin-top: 40px;
    padding: 0 85px;
  }
  
  .row{
    margin: auto;
  }
  
  .col-2, .col-8 {
    padding: 0px;
  }

  .banner-text-left-container, .banner-text-right-container{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 4;
  }


  .banner-text-left{
    font-family: "DomaineDisplayTestRegular";
    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 10.67px;
    text-transform: uppercase;
    line-height: 84px;
    margin-bottom: 50px;
  }

  .banner-text-right{
    font-family: "DomaineDisplayTestRegular";
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 8px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .banner-text-right-value{
    font-family: "FuturaPT-Book";
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.23px;
    line-height: 27px;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  #myslider { 
    width:759px; 
    height:722px; 
  }
  #myslider img{
    width: 100%;
  }
  .w3-section{
    max-width:100%;
    margin: 0px !important;
  }

  .shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }

  .img-shade-container{
    position: relative;
    cursor: pointer;
  }

  .imgblock{
    margin-bottom: 140px;
    max-width: 48%;
  }

  .img-block-text{
    width: 96%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .img-text{
    position: absolute;
    top: 32%;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -moz-transition:all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -ms-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -o-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  }

  .img-text h3{
    text-transform: uppercase;
    font-family: DomaineDisplayTestRegular;
    letter-spacing: 5px !important;
    color: white;
    font-size: 3.14286em;
  }

  .img-text span {
    position: relative;
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -moz-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -ms-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -o-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  }

  .img-row-one, .img-row-two, .concept-row-one, .concept-row-two, .concept-row-three, .online-store-one, .online-store-two, .news-container-row, .footer-row{
    opacity: 0;
  }

  .concept-block-row{
    padding-top: 160px;
    width: 100%;
  }

  .concept-block{
    width: 65%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .carousel {
    height: 541px;
    padding-left: 85px;
  }

  .carousel-cell {
    width: 20%;
    height: 100%;
    margin-right: 0px;
    background: transparent;
    display: flex;
  }

  .carousel-cell:hover{
    background: rgba(32, 32, 35, 0.5);
  }
  
  /* .carousel-cell.is-selected {
    background: #313133;
  } */
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .flickity-enabled.is-draggable .flickity-viewport{
    cursor: pointer;
  }

  .news-container{
    width: 100%;
    height: 100%;
    border: 1px solid #313133;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  .news-image{
    width: 100%;
    height: 36%;
  }
  

  /* .carousel {
    height: 541px;
  }
  
  .carousel-cell {
    width: 20%;
    height: 100%;
    margin-right: 5px;
    background: #8C8;
  }

  .flickity-slider{
    transform: translateX(0%) !important;
  } */

  input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #AFB478;
    -webkit-box-shadow: 0 1px 0 0 #AFB478;
    box-shadow: 0 1px 0 0 #AFB478;
  }

  .footer-policy{
    color: #8f8f91;
    font-size: 12px;
    font-family: "FuturaPT-Book";
    letter-spacing: 0.24px;
    line-height: 28px;
  }

  .footer-list-container h6{
    font-size: 1.2857142857em;
    font-family: "FuturaPT-Book";
    letter-spacing: 0.36px;
    text-transform: none;
  }
  
  .footer-list-container ul li{
    font-family: "FuturaPT-Book";
    font-size: 14px;
    color: #8f8f91;
    letter-spacing: 0.28px;
    line-height: 42px;
  }

  .line-text{
    display: flex;
    align-items: center;
  }

  .not-line-text{
    padding-left: 130px;
  }

  .dash-line{
    width: 36px;
    height: 1px;
    background: #AFB478;
    display: block;
    margin-right: 12px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .dash-reduce-container{
    color:white;
    text-transform: uppercase;
    font-size: 13px;
    font-family: FuturaPT-Medium;
    letter-spacing: 3.25px;
    cursor: pointer;
    margin-top: 43px;
  }

  .concept-head-text-container{
    position: absolute;
    top: 30%;
  }

  .concept-head{
    left: -1em;
    position: relative;
  }

  .concept-head h2, .concept-head-text h2{
    font-size: 3.2em;
    line-height: 1;
    margin-bottom: 0.7142857143em;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "DomaineDisplayTestRegular";
    color: white;
}

.concept-text{
    padding-top: 4em;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

.concept-text p {
  font-family: "FuturaPT-Book";
  letter-spacing: 0.3px;
  line-height: 1.8571428571em;
  color: #d1d1d1;
  font-size: 1em;
}

.concept-text-list-container{
  display: flex;
  flex-wrap: wrap;
  
}
.concept-text-number{
  padding-right: 15px;
  margin: auto;
  opacity: 0.2;
  color: #ffffff;
  font-size: 24px;
  font-family: "DomaineDisplayTest-Regular";
  letter-spacing: 5.33px;
  width: 30%;
}

.concept-text-list{
  width: 70%;
}

.concept-text-list-container li {
  width: 50%;
  position: relative;
  color: #ffffff;
  font-size: 15px;
  font-family: "FuturaPT-Book";
  letter-spacing: 0.3px;
  flex: 40%;
  margin-bottom: 15px;
  display: flex;
  margin-right: 25px;
}

.store-header{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 100px;
  z-index: 1;
}

.store-header h2{
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: 0.7142857143em;
  letter-spacing: 25px;
  text-transform: uppercase;
  font-family: "DomaineDisplayTestRegular";
}

.online-store-img{
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.concept-head-text span{
  position: relative;
  top: 0px;
  -webkit-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  -moz-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  -ms-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  -o-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
}

  .scale-in-hor-left {
    -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
            animation: scale-in-hor-left 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
  }
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.scale-out-hor-right {
	-webkit-animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation-delay: 0.2s;
}

 @-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

