body {
  background: #f2f3f5;
  font-family: 'Roboto', sans-serif;
}

.nav__button {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.nav__button:hover {
  opacity: .7;
}

.nav__button.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #006fba;
}

.nav__button.active .middle {
  opacity: 0;
  background: #006fba;
}

.nav__button.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #006fba;
}

.nav__button span {
  background: #006fba;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.nav__button span:nth-of-type(2) {
  top: 11px;
}

.nav__button span:nth-of-type(3) {
  top: 22px;
}

.nav__overlay {
  position: fixed;
  background: #006fba;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.nav__overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.nav__overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.nav__overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.nav__overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.nav__overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.nav__overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Roboto', serif;
  font-weight: 400;
  text-align: center;
}

.nav__overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.nav__overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 60px;
  position: relative;
  opacity: 0;
}

.nav__overlay ul li a {
  display: block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
}

.nav__overlay ul li a:hover:after, .nav__overlay ul li a:focus:after, .nav__overlay ul li a:active:after {
  width: 100%;
}

.nav__overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #ffffff;
  -webkit-transition: .35s;
  transition: .35s;
}

@media screen and (min-width: 700px) {
  .logo {
    padding: 20px;
  }
  .nav__button {
    display: none;
  }
  .nav__overlay ul li {
    opacity: 1;
    float: left;
  }
  /* .nav__overlay ul li:not(:last-child) { */
  .nav__overlay ul li {
    margin-right: 1em;
  }
  .nav__overlay nav {
    position: relative;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 18px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-align: left;
    float: right;
    text-transform: uppercase;
  }
  .nav__overlay {
    height: 100px;
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */